@import '../../colors';

.formControl {
  .animatedInput {
    font-size: 1em;
    width: 15em;
    position: relative;
    height: 3em;
    overflow: hidden;
  
    input {
      font-size: 1em;
      width: 100%;
      height: 100%;
      padding-top: 1em;
      border: none;
      outline: none;
    }
  
    label {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-bottom: 1px solid black;
  
      &::after {
        content: "";
        position: absolute;
        left: 0px;
        bottom: -1px;
        height: 100%;
        width: 100%;
        border-bottom: 3px solid $inputFocusColor;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
      }
  
      .labelContent {
        position: absolute;
        bottom: 0.3em;
        left: 0px;
        transition: all 0.3s ease;
      }
    }
    
    input:focus + .inputLabel,
    input:not([value=""]) + .inputLabel{
      .labelContent{
        transform: translateY(-120%);
        font-size: .8em;
        color: $inputFocusColor;
      }
      
      &::after {
        transform: translateX(0%);
      }
    }
  }
  
  .inputLabel.invalidField::after {
    border-bottom: 3px solid red;
  }
  
  .errorMessage {
    font-size: 0.8em;
    color: red;
  }
}